{% extends 'masterpage.html' %}
{% block title %}Not Found{% endblock %}
{% block content %}
<!-- Header -->
<section id="app">
    <div>
        <div class="col-md-6 col-md-offset-3">
        <h1>NOT FOUND<br >Please Login :)</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/admin/" target="_blank">ADMIN</a>
                <br>
                <a href="/api/v1/auth/login/" target="_blank">API</a>
                <br>
                <a href="/api/v1/docs/" target="_blank">DOCS</a>
                <br>
                <a href="https://nbm-doit.mybalsamiq.com/projects/nbm/Start%20page" target="_blank">WIREFRAME</a>
                <br>
                <a href="https://color.adobe.com/abstract-color-theme-7938072/" target="_blank">COLOR THEME USED</a>
                <br>
                {% endblock %}