{% extends 'MasterPages/MasterPage.html' %}
{% block title %}APP{% endblock %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="/">Not by Might Bucketlist APP</a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <section id="app">
        <div class="container">

        <!-- Login and Register forms by REACT -->

        </div>
        <div id="dev-links">
            <a href="/admin/" class="btn btn-xl">ADMIN</a>
            <a href="/api/v1/auth/login/" class="btn btn-xl">API</a>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">Copyright &copy; NBM 2016</span>
                    <br>
                    <h3>Tools leveraged</h3>
                    <span>Django, DRF (Django REST Framework), ReactJS, VueJS, </span>
                    <br>
                    <span><a class="fa fa-github" href="https://github.com/NdagiStanley/not-by-might" target="_blank"></a></span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}