{% extends 'masterpage.html' %}
{% load staticfiles %}
{% block title %}Bucketlists{% endblock %}
{% block navbar %}
<div id="topbar">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="navbar-brand page-scroll" href="/account/#!/login/" @click="logOut">Logout [[ username ]] </a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<!-- Header -->
<section id="all_bucketlists">
    <div id="bucketlists">
        <!-- Add bucketlist -->
        <span v-show="list.length==0">
            <div class="col-md-6 col-md-offset-3">
            <h1>You have no bucketlists. <br >Create your first one below :)</h1>
            </div>
        </span>
        <div class="col-md-4 col-lg-offset-4">
            <div id="notification">
                <div id="status" class="alert alert-success" v-show="status"> [[ status ]] </div>
                <div id="status" class="alert alert-danger" v-show="status_error"> [[ status_error ]] </div>
            </div>
            <div class="panel-heading">
                <h3 class="section-heading">
                <button v-show="!search" class="btn btn-primary" @click="showSearch">
                    <i class="fa fa-search"></i>
                </button>
                <button v-show="notsearch" class="btn btn-primary" @click="showAdd">
                    Add a Bucketlist
                </button>
                </h3>
            </div>
            <div class="panel-body" v-show="!search">
                <form name="add" id="Account" @submit.prevent="addBucketlist">
                    <div class="input-group">
                        <input class="form-control" placeholder="Bucketlist Name" v-model="bucketlist.name">
                        <span class="input-group-btn">
                            <button class="btn btn-primary">Create</button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- Search through the Bucketlists -->
            <div v-else>
                <form name="search" id="search" @submit.prevent="searchBucketlists">
                    <div class="input-group col-md-6 col-lg-offset-3">
                        <input class="form-control" v-model="searchParam" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <!-- Display bucketlists -->
        <span v-else>
        <div class="col-md-6 " v-for="bucketlist in bucketlists">
        <br >
            <div class="list-group ">
                <div class="list-group-item ">
                    <a href="/bucketlist_items/" @click="goToItem(bucketlist)">
                        <h4 >
                            [[ bucketlist.name ]]
                        </h4>
                        <span class="badge">[[ bucketlist.items.length ]] items</span>
                        <br>
                    </a>
                    <br>
                    <!-- synced after "change" instead of "input" -->
                    <input type="text " v-model="updated " placeholder="edit me" lazy>
                    <button class="btn btn-xs btn-warning " @click="updateBucketlist($index, bucketlist.id) ">Update</button>
                    <button class="btn btn-xs btn-danger " @click="deleteBucketlist($index, bucketlist.id) ">Delete</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        </span>
    </div>
    <br>
    <br>
    <br>
</section>
{% endblock %} {% block vuejsfiles %}
<script src="{% static 'js/bucketlist.js' %} "></script>
{% endblock %}
