{% extends 'MasterPages/MasterPage.html' %} {% load render_bundle from webpack_loader %} {% load rest_framework %} {% block title %}APP{% endblock %} {% block content %}
<!-- Header -->
<section id="app">
    <div id="bls">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item" v-for="item in items">
                    <h4 class="list-group-item-heading">
          <i class="fi-paint-bucket"></i>"
          {{ item.title }}
        </h4>
                    <button class="btn btn-xs btn-warning" v-on="click: deleteEvent($index)">Update</button>
                    <button class="btn btn-xs btn-danger" v-on="click: deleteEvent($index)">Delete</button>
                </a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br>
    <br>
    <br>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/admin/">ADMIN</a>
                <br>
                <a href="/api/v1/auth/login/">API</a>
                <br>
                <a href="/api/v1/docs/">DOCS</a>
                <br> {% endblock %}
