{% extends 'masterpage.html' %} {% load staticfiles %} {% load rest_framework %} {% block title %}Bucketlists{% endblock %} {% block navbar %}
<span>
    <li><a class="navbar-brand page-scroll" href="/">Logout [[ username ]] </a></li>
</span>
</ul>
{% endblock %} {% block content %}
<!-- Header -->
<section id="all_bucketlists">
    <div id="bucketlists">
        <!-- Add bucketlist -->
        <span v-show="bucketlists.length==0">
            <div class="col-md-6 col-md-offset-3">
            <h1>You have no bucketlists. <br >Create your first one below :)</h1>
            </div>
        </span>
        <div class="col-md-4 col-lg-offset-4">
            <div class="panel-heading">
                <h3 class="section-heading">Add a Bucketlist</h3>
            </div>
            <div class="panel-body">
                <form name="signup" id="Account" @submit="addBucketlist">
                    <div class="form-group">
                        <input class="form-control" placeholder="Bucketlist Name" v-model="bucketlist.name">
                    </div>
                    <button class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
        <!-- Display bucketlists -->
        <span></span>
        <span v-else ">
        <div class="col-md-6 " v-for="bucketlist in bucketlists ">
            <div class="list-group ">
                <div class="list-group-item ">
                <a href="/bucketlist_items/" @click="goToItem(bucketlist.id)">
                    <h4 >
                        [[ bucketlist.name ]]
                    </h4>
                </a>
                <br >
                    <input type="text " v-model="updated " placeholder="edit me ">
                    <button class="btn btn-xs btn-warning " @click="updateBucketlist($index, bucketlist.id) ">Update</button>
                    <button class="btn btn-xs btn-danger " @click="deleteBucketlist($index, bucketlist.id) ">Delete</button>
                    </div>
            </div>
        </div>
        </span>
    </div>
    <br>
    <br>
    <br>
</section>
<footer>
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">
                {% endblock %} {% block vuejsfiles %}
                <script src="{% static 'js/bucketlist.js' %} "></script>
                {% endblock %}
