{% extends 'masterpage.html' %}
{% load staticfiles %}
{% load rest_framework %}
{% block title %}Bucketlists{% endblock %}
{% block content %}
<!-- Header -->
<section id="app">
    <div id="bucketlists">
        <!-- Add bucketlist -->
        <div class="col-md-4 col-lg-offset-4">
            <div class="panel-heading">
                <h3 class="section-heading">Add a Bucketlist</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input class="form-control" placeholder="Bucketlist Name" v-model="bucketlist.name">
                </div>
                <button class="btn btn-primary" v-on="click: addBucketlist">Create</button>
            </div>
        </div>

        <!-- Display bucketlists -->
        <div class="col-md-6" v-for="bucketlist in bucketlists">
            <div class="list-group">
                <a href="/bucketlist_items/" class="list-group-item">
                    <h4 >
                        [[ bucketlist.name ]]
                    </h4>
                    <button class="btn btn-xs btn-warning" v-on="click: updateBucketlist($index)">Update</button>
                    <button class="btn btn-xs btn-danger" v-on="click: deleteBucketlist($index)">Delete</button>
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% endblock %}

{% block vuejsfiles %}
<script src="{% static 'js/bucketlist.js' %}"></script>
{% endblock %}
