{% extends 'MasterPages/MasterPage.html' %}
{% load render_bundle from webpack_loader %}
{% load rest_framework %}
{% block title %}Bucketlists{% endblock %}
{% block content %}
    <section id="app">
        <h1>Bucketlists</h1>
        <br>
        <div class="col-md-12" id="bucketlists" padding="70, 10">
            <ul>
                {% for bucketlist in bucketlists %}
                <li>{{ bucketlist.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
{% endblock %}