{% extends 'masterpage.html' %} {% load staticfiles %} {% block title %}HOME{% endblock %} {% block content %}
<!-- Header -->
<header>
    <div class="container">
        <div id="home" class="intro-text">
            <div class="intro-heading">my bucketlist</div>
            <div class="intro-lead-in">Put it down, then work it out
                <br>
                <br>
            </div>
            <br>
            <span v-else>
                <a href="/account/" class="btn btn-xl">Let's Begin</a>
            </span>
        </div>
    </div>
</header>
{% endblock %}
